.create-password-form {
  width: 100%;
  max-width: 445px;
  display: flex;
  flex-flow: column;
  gap: 32px;
  align-items: start;
  justify-content: center;
  background-color: var(--clr-black-secondary);
  padding: var(--padding-item-vertical) var(--padding-vertical);

  .checkbox-container,
  .input-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
}
