.create-password-form {
  position: sticky;
  top: 144px;
  width: 100%;
  max-width: 445px;
  padding: var(--padding-item-vertical) var(--padding-vertical);
  margin: 0 90px;

  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  gap: 32px;

  background-color: var(--clr-black-secondary);

  max-height: 410px;

  .checkbox-container,
  .input-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .create-password-form {
    width: unset;
  }
}

@media only screen and (max-width: 1038px) {
  .create-password-form {
    position: static;
  }
}
