.password-item {
  display: flex;
  flex-flow: column;
  gap: 16px;

  span {
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  > .password-item-header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    span {
      max-width: 440px;
    }
  }

  span {
    font-size: var(--fs-subtitle);
  }

  .cta-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .password-container {
    padding: 18px 32px;
    background-color: var(--clr-black-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      cursor: pointer;
    }
  }
  strong {
    &.fort-color {
      color: var(--clr-accent-green);
    }
    &.faible-color {
      color: var(--clr-accent-red);
    }
    &.moyen-color {
      color: var(--clr-accent-yellow);
    }
  }
}
