@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --clr-black-primary: #14131b;
  --clr-white-primary: #f8f9fc;
  --clr-grey-primary: #817d92;

  --clr-black-secondary: #24232c;
  --clr-accent-green: #32d583;
  --clr-accent-red: #f97066;
  --clr-accent-yellow: #fdb022;

  --font-family: "JetBrains Mono", monospace;

  --fs-title: 36px;
  --fs-subtitle: 32px;
  --fs-body-big: 24px;
  --fs-body-small: 18px;

  --padding-vertical: 32px;
  --padding-horizontal: 32px;
  --padding-body-horizontal: 90px;
  --padding-item-vertical: 24px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--font-family);
}

html {
  background-color: var(--clr-black-primary);
}

body {
  padding: 0 var(--padding-body-horizontal);

  background-color: var(--clr-black-primary);
  color: var(--clr-white-primary);
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  :root {
    --fs-title: 32px;
    --fs-subtitle: 24px;

    --padding-vertical: 32px;
    --padding-horizontal: 18px;
    --padding-body-horizontal: 16px;
    --padding-item-vertical: 18px;
  }
}
